# Efekty kompilacji texa
dokumentacja/*.txt
dokumentacja/*.aux
dokumentacja/*.synctex.gz
dokumentacja/*.log
dokumentacja/tex/*.txt
dokumentacja/tex/*.aux
dokumentacja/tex/*.synctex.gz
dokumentacja/tex/*.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
